.events-page {
  padding: 60px 40px;
  width: 1450px;
  color: #fff;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.events-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  filter: blur(15px);
}

.main-heading {
  font-size: 43px;
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.highlights {
  margin-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
  perspective: 1000px;
}

.event-box {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  height: 550px;
  padding: 30px;
  font-size: 1rem;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.08s ease-out, box-shadow 0.3s ease;
}

.event-box:hover {
  transform: translateY(-5px);
  box-shadow:
    0 15px 30px rgba(0, 0, 0, 0.4),
    0 0 0 2px rgba(79, 70, 229, 0.7),
    0 0 12px 6px rgba(79, 70, 229, 0.4);
}

.event-box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(70, 28, 139, 0.3), transparent 70%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}



.upcoming-events-grid {
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto 80px;
  padding: 0 20px;
  width: 1400px;
}

.event-image-placeholder {
  width: 96%;
  height: 250px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-self: center;
}

.event-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 96%;
}

.event-info h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 10px;
  color: #ffffff;
  text-align: center;
}

.event-info p {
  margin: 2px 0;
  color: #dddddd;
  text-align: left;
  font-size: 0.9rem;
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}



.empty-message {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #aaa;
}


@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
